@charset "UTF-8";

/*各項目の要点欄の装飾*/
.cp_point {
	position: relative;
	margin: 40px 0 30px;
	padding: 25px 20px 15px 40px;
	border: 1px dotted #1b2538;
	background-color: #f8fdff;
	border-radius: 8px;
}
.cp_point::before {
	position: absolute;
	top: -1em;
	left: 1em;
	content: attr(title);
	padding: .4em 1em 0;
	font-size: 90%;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	height: 27px;
	background-color: #1b2538;
	border-radius: 4px;
}
.cp_point li {
	position: relative;
	list-style-type: none;
}







/*左上のメニューの追加*/
/*参照先：*/
header {
  /*ここのz-indexで解決した*/
  z-index: 100;
  position: fixed;
  padding:10px;
  background:#2c3e50;
}


/*fixedで画面に追従するようにした*/
#nav-drawer {
  position: fixed;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #e84118;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
	z-index: 1000;
	opacity:1;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 250px;/*最大幅（お好みで調整を）*/
  height: 100%;
  background: #2c3e50;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}

/*ロゴやサイトタイトルをセンタリング*/
.logo-area{
	color: #eeeeee;
	text-align:center;margin:auto;
}






/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, figure, img, fieldset,
a, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, small, strong, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td{
	margin:0;
	padding:0;
	border:none;
	outline:none;
	font-size:1em;
}

header,hgroup,nav,article,
section,aside,figure,footer{
	display:block;
}

ol, ul{
	list-style: none;
}



html{
		font-family: 'Noto Serif JP', serif;
}



/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body{
	background:#f1c40f;
	width:100%;
	color:#383c55;
}

/*	リンクタグ	*/

a,
a:hover{
	color:#333631;
	text-decoration:none;
}



/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
header{
	width:100%;
	overflow:hidden;}



/*---------------------
	ヘッダー画像
--------------------*/
p#h_image{
	padding:0;
	position:relative;
}

p#h_image img{
	width:99.5%;
	margin:auto;
	border:solid 1px #D7E5CF;}

/*	ヘッダー画像内 文字	*/
p#h_image span{
	padding:0 10px;
	display:block;
	color:#FFF;
	position:absolute;
	z-index:2;
	top:40%;
}

/*	ヘッダー画像下 文字	*/
header h2{
	padding:10px;
}

header p.des{
	padding:0 10px;
	margin-bottom:5%;
}



/*------------------------------------------------------------
	カテゴリ

------------------------------------------------------------*/
article{
	position: relative;
	z-index: 0px;
	width:100%;
  overflow:hidden;
}

/*---------------------
	カテゴリタイトル
  padding:3% 10px;
--------------------*/
article .title{
  margin-top:45px;
}

article .title h2{
	text-align:center;margin:auto;
  padding:10px;
	margin:0;
	border:solid 5px #2c3e50;
	background:#e74c3c;
	color          : #ffffff;            /* 文字の色 */
	text-shadow    :
	        2px  2px 1px #000000,
	       -2px  2px 1px #000000,
	        2px -2px 1px #000000,
	       -2px -2px 1px #000000,
	        2px  0px 1px #000000,
	        0px  2px 1px #000000,
	       -2px  0px 1px #000000,
	        0px -2px 1px #000000;        /* 文字の影 */
}

/*---------------------
	カテゴリボディ
--------------------*/
article section{
	padding:4% 5px 4% 10px;
}

article section:nth-child(even){
	background-color: #f5f6fa;
	border-color:#FFF transparent #D7E5CF;
	border-right:solid 5px #2c3e50;
	border-left:solid 5px #2c3e50;
	border-bottom:solid 5px #2c3e50;
}

article section:nth-child(odd){
	background-color: #dcdde1;
	border-color:#FFF transparent #D7E5CF;
	border-right:solid 5px #2c3e50;
	border-left: solid 5px #2c3e50;
	border-bottom:solid 5px #2c3e50;
}

article section a{
	background:url(img/link_icon.png) no-repeat right center;
	padding-right:4%;
	display:block;
	overflow:hidden;
}

/*	カテゴリ画像　*/
article section a figure{
	width:35%;
	margin-right:10px;
	overflow:hidden;

	border:solid 1px #9CA695;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	float:left;}

article section a figure img{
	background:#9CA695;
	width:100%;
	margin-bottom:-4.5%;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;}

@media screen and (min-width:480px) {
	article section a figure{
		padding-bottom:0.5%;
	}
}

/*	各店のタイトル文字設定　*/
article section a h2{
	width:60.5%;
	color:#273c75;
	float:right;
}

article section a p{
	width:60.5%;
	float:right;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
/*	フリースペース　*/
.free_space{
	text-align:center;
	padding:3% 10px;
	border:dotted #D7E5CF;
	border-width:1px 0;
	color:#f5f6fa;
	background-color: #2f3640;
}

.free_space img{
	margin:auto;
	display:block;
	border:solid 1px #333631;
}


/*	メニュー　*/
footer ul{
	padding:4% 0;
	overflow:hidden;
}

footer ul li{
	width:20%;
	margin:2% 2.5% 2% 2.5%;
	float:left;
}

footer ul li a{
	padding:1.4em 0;
	display:block;
	color:#7f8fa6;
	border:solid 1px #A3AB9D;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	-moz-box-shadow:0px 0px 0px 1px #333631;
	-webkit-box-shadow:0px 0px 0px 1px #333631;
	box-shadow:0px 0px 0px 1px #333631;

	background-image: -moz-linear-gradient(top, #b0b9ab, #7f8b78);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#b0b9ab), to(#7f8b78));
	background-image: -o-linear-gradient(top, #b0b9ab, #7f8b78);
	background-image: linear-gradient(top, #b0b9ab, #7f8b78);
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/*	コピーライト　*/
address{
	padding:3% 0;
	border-top:dotted 1px #333631;
}

address p{
	font-size:0.714em;
	text-align:center;}




padding:4% 5px 4% 10px
8px 16px

ul.menu{
		width: 200px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		background-color: #3498db;
	}
ul.menu	li a {
		display: block;
		padding: 8px 16px;
		text-decoration: none;
		color: #eeeeee;
	}
ul.menu	li {
		text-align: center;
	}
ul.menu	li:last-child {
		border-bottom: none;
	}
ul.menu	li a.active {
		color: #f5f6fa;
		background-color: #f5f6fa;
	}
.menu	li a:hover:not(.active) {
		color: #192a56;
		background-color: #e74c3c;
	}
